{% extends 'ecomapp/base.html' %}

{% block content %}
   
    


    <div class="container mt-5">

      <div class="row">
          {% for product in products %}
          <div class="col-md-4 mb-4">
              <div class="card">
                  <img src="{{ product.image.url }}" class="card-img-centre" alt="{{ product.name }} Image">
                  <div class="card-body">
                      <h5 class="card-title">{{ product.name }}</h5>
                      <h5 class="card-text">{{ product.description }}</h5>

                      {% if product.discount_percent > 0 %}
                      <p class="original-price">&#8377;{{ product.price }}</p>
                      <h4 class="discount percent">{{ product.discount_percent }}% off</h4>

                      <h4 class="discounted-price">Sale Price: &#8377;{{ product.discounted_price|floatformat:2 }}</h4>
                      {% else %}
                      <h3 class="discounted-price">Price: &#8377;{{ product.price }}</h3>
                      {% endif %}
                      <a href="{url 'checkout'}" class="btn btn-primary">Buy Now</a>
                      <a href="{url 'view_cart'}" class="btn btn-success">Add to cart</a>

                  </div>
              </div>
          </div>
          {% endfor %}
      </div>
      {%endblock%}