{% extends 'ecomapp/base.html' %}
{%block content%}


    <h1>Register HERE!</h1>
    <form method="post">
        {% csrf_token %} {{ form.as_p }}
        <button type="submit" class="btn btn-success">Register</button>
    </form>

{%endblock%}
<script>
    const passwordInput = document.getElementById("id_password1");
    const strengthProgressBar = document.getElementById("password-strength");

    passwordInput.addEventListener("input", () => {
        const password = passwordInput.value;
        const strength = calculatePasswordStrength(password);

        strengthProgressBar.value = strength;
    });

    function calculatePasswordStrength(password) {
        
        if (password.length >= 8) {
            return 100;
        } else {
            return (password.length / 8) * 100;
        }
    }
</script>

</html>